<div class="d-flex justify-content-center">
  <h1>Current Number: {{ currentNumber }}</h1>
  <h2>{{ countdown }} seconds</h2>
</div>
<button (click)="refreshBoard()">Refresh</button>
<div
  *ngFor="let ticket of boardNumbers | async; let ticketIndex = index"
  class="tambola-ticket"
>
  <table>
    <tr *ngFor="let row of ticket; let rowIndex = index">
      <td *ngFor="let r of row; let numberIndex = index" [ngStyle]="{'background-color': r.selected ? 'cyan' : 'white' }">
        {{ r.number }}
      </td>
    </tr>
  </table>
</div>
